@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital@1&family=Sora:wght@300&display=swap");

* {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sora", sans-serif;
}
header, footer {text-align: center;
  
}
#content {border: 2px solid black;
  
  display: flex;
  flex-direction: column;

}
#top-section{display: inline-block;
  border: 1px solid green
  
}
#main-section{border: 1px solid green}